.main{
    width: 40%;
    margin: auto;
}

.arr{
    display: flex;
    margin: 40px;
    justify-content: center;
}

.buttons{
    text-align: center;
}

button{
    margin: 10px;
    width: 40px;
    height: 30px;
    background-color: white;
    border: 3px solid hotpink;
    cursor: pointer;
}

button:hover{
    background-color: hotpink;
    color: white;
}